# ex: set ft=gitignore :

/.dependencygraph
/.git
/.github
/.history
/.husky
/.next
/.storybook
/.vscode
/__mocks__
/build
/coverage
/idea
/i18n
/node_modules
/.venv
/public
/public-src
/publish
/types
/utils
/package-lock.*
/pnpm-lock.yaml

/static

# Temp: Don't prettify temlates (or ensure correct prettifiying)
*/templates/**/*.html
# !tales_django/templates/tales_django/profile_edit.html.django

**/*_
