/.dependencygraph
/.git
/.github
/.history
/.husky
/.next
/.storybook
/.vscode
/__mocks__
/build
/coverage
/idea
/i18n
/node_modules
/.venv
/public
/public-src
/publish
/types
/utils

/static

/tales/templates/django_registration
/tales/templates/registration

package-lock.*
**/*_
