asgiref==3.8.1 ; python_version >= "3.11" and python_version < "4.0"
colorama==0.4.6 ; python_version >= "3.11" and python_version < "4.0"
concurrent-log-handler==0.9.25 ; python_version >= "3.11" and python_version < "4.0"
django==5.1.4 ; python_version >= "3.11" and python_version < "4.0"
portalocker==3.0.0 ; python_version >= "3.11" and python_version < "4.0"
python-dotenv==1.0.1 ; python_version >= "3.11" and python_version < "4.0"
pywin32==308 ; python_version >= "3.11" and python_version < "4.0" and platform_system == "Windows"
sqlparse==0.5.3 ; python_version >= "3.11" and python_version < "4.0"
tzdata==2024.2 ; python_version >= "3.11" and python_version < "4.0" and sys_platform == "win32"
