asgiref==3.8.1 ; python_version >= "3.11" and python_version < "4.0"
beautifulsoup4==4.12.3 ; python_version >= "3.11" and python_version < "4.0"
certifi==2024.12.14 ; python_version >= "3.11" and python_version < "4.0"
charset-normalizer==3.4.1 ; python_version >= "3.11" and python_version < "4.0"
colorama==0.4.6 ; python_version >= "3.11" and python_version < "4.0"
concurrent-log-handler==0.9.25 ; python_version >= "3.11" and python_version < "4.0"
confusable-homoglyphs==3.3.1 ; python_version >= "3.11" and python_version < "4.0"
crispy-bootstrap5==2024.10 ; python_version >= "3.11" and python_version < "4.0"
django-appconf==1.0.6 ; python_version >= "3.11" and python_version < "4.0"
django-compressor==4.5.1 ; python_version >= "3.11" and python_version < "4.0"
django-crispy-forms==2.3 ; python_version >= "3.11" and python_version < "4.0"
django-environ==0.11.2 ; python_version >= "3.11" and python_version < "4"
django-livereload-server==0.5.1 ; python_version >= "3.11" and python_version < "4.0"
django-preferences==1.0.0 ; python_version >= "3.11" and python_version < "4.0"
django-registration==3.4 ; python_version >= "3.11" and python_version < "4.0"
django-timezone-field==7.0 ; python_version >= "3.11" and python_version < "4.0"
django==5.1.4 ; python_version >= "3.11" and python_version < "4.0"
idna==3.10 ; python_version >= "3.11" and python_version < "4.0"
pillow==11.1.0 ; python_version >= "3.11" and python_version < "4.0"
portalocker==3.1.1 ; python_version >= "3.11" and python_version < "4.0"
pywin32==308 ; python_version >= "3.11" and python_version < "4.0" and platform_system == "Windows"
pyyaml==6.0.2 ; python_version >= "3.11" and python_version < "4.0"
rcssmin==1.1.2 ; python_version >= "3.11" and python_version < "4.0"
requests==2.32.3 ; python_version >= "3.11" and python_version < "4.0"
rjsmin==1.2.2 ; python_version >= "3.11" and python_version < "4.0"
soupsieve==2.6 ; python_version >= "3.11" and python_version < "4.0"
sqlparse==0.5.3 ; python_version >= "3.11" and python_version < "4.0"
tornado==6.4.2 ; python_version >= "3.11" and python_version < "4.0"
tzdata==2024.2 ; python_version >= "3.11" and python_version < "4.0" and sys_platform == "win32"
urllib3==2.3.0 ; python_version >= "3.11" and python_version < "4.0"
