@use 'sass:color';

@import '../shared';
@import '../template-core/shared';

.template-banner {

  &.banner {
    // border: 2px solid red;
    background-image: url(/static/images/backgrounds/banner-bg.svg);
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding: 120px 0 100px;

    .container {
      position: relative;
      z-index: 1;
    }

    .banner-shape-1 {
      position: absolute;
      left: 20%;
      top: 25%;
      .path {
        fill: $primary-color;
      }
    }

    .list-inline {
      a:not(:hover) {
        background-color: color.change(#fff, $alpha: 1);
        border-color: transparent;
      }
    }

    .banner-shape-2 {
      position: absolute;
      right: 15%;
      top: 35%;
      .path {
        fill: color.change($primary-color, $alpha: .1);
      }
    }

    .banner-shape-3 {
      position: absolute;
      right: 30%;
      bottom: 12%;
      .path {
        fill: $primary-color;
      }
    }

    .banner-border-top {
      position: absolute;
      top: -90px;
      left: -140%;
      width: 220%;
      height: 300px;
      stroke: $primary-color;
    }
    .banner-border {
      position: absolute;
      bottom: -30px;
      left: 0;
      width: 100%;
      stroke: $primary-color;
    }
  }
}
