@use 'sass:color';

@import '../shared';
@import '../template-core/shared';

.template-footer {
  &.footer {
    margin-top: 2em;
    overflow: hidden;
    padding-top: 160px;
    // Space for floating player
    body.with-player & {
      padding-bottom: $floatingPlayerHeight;
    }
    body:not(.no-cookies-banner) & {
      margin-bottom: 72px;
    }
    body.no-cookies-banner & {
      margin-bottom: 0 !important;
    }
    background-image: url(/static/images/backgrounds/footer-bg.svg);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    .footer-border {
      position: absolute;
      // bottom: -60px;
      top: 0;
      height: 200px;
      left: -50%;
      width: 200%;
      stroke: $primary-color;
    }

    .delimiter {
      border-color: #000;
      --bs-border-color: #0002;
    }

    .footer-cell-side {
      flex: 1;
    }

    .footer-brand-cell {
      @media screen and (width < $screenMdMin) {
        order: -1;
      }
    }

    .footer-cell-menu {
      @include activeTextLinkWrapper;
      ul {
        list-style: none;
        gap: 0.5em 1em;
        padding-left: 0;
        line-height: 1.3;
      }
      a:hover {
        color: $primaryColor;
      }
      @media screen and (width < $screenMdMin) {
        margin: 0 auto;
        ul {
          justify-content: center;
        }
      }
    }

    .navbar-brand {
      overflow: hidden;
      &,
      & img {
        transition: all var(--transitionTimeMs);
      }
      &:hover {
        img {
          opacity: 0.85;
        }
      }
      @media screen and (width >= $screenLgMin) {
        flex: 1;
      }
      .text {
        color: $defaultTextColor;
        padding-right: 10px;
        font-size: 3.5vw;
        text-overflow: ellipsis;
        overflow: hidden;
        @media screen and (width >= $screenMdMin) {
          font-size: 1em;
        }
        @media screen and (width >= $screenLgMin) {
          font-size: 1.5em;
        }
      }
      &:hover .text {
        color: $primaryColor;
      }
    }

    /* // UNUSED: For non-detailed footer only
     * &-list {
     *   a {
     *     display: block;
     *     // color: $text-color-dark;
     *     padding: 5px;
     *     &:hover {
     *       color: $primary-color;
     *     }
     *   }
     * }
     */

    &-border {
      position: absolute;
      top: -75px;
      width: 100%;
      stroke: $primary-color;
    }

    // Detailed footer
    .footer-group-logo {
      @media (width <= $screenMdMin) {
        width: 100%;
      }
    }
    .footer-group-links {
      margin-top: 1.6em;
    }
    .footer-group {
      h6 {
        text-transform: uppercase;
        margin-bottom: 25px;
        font-weight: bold;
      }
      ul {
        @include activeTextLinkWrapper;
        padding: 0;
        li {
          margin-bottom: 10px;
          list-style: none;
        }
      }
    }
  }
}
