@import '../shared';

// Color Variables
$primary-color: $primaryColor; // #4FD675;
$text-color: $defaultTextColor; // #555;
$text-color-dark: $defaultTextColorDark; // #333;
$text-color-light: $defaultTextColorLight; // #777;
$body-color: $backgroundColor; // #fff;
$border-color: $borderColor; // #ebebeb;
$black: $blackColor; // #000;
$white: $whiteColor; // #fff;
$light: $lightColor; // #F9F9F9;

// Font Variables
$primary-font: $defaultFontFamily; // 'Nunito Sans', sans-serif;
$icon-font: 'themify';
