{# ex: set ft=htmldjango : #}
<!--
  @module registration_form.html
  @changed 2025.01.04, 22:35
-->

{% extends "base-regular.html.django" %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}{% trans 'Sign up' %} — {{ block.super }}{% endblock %} {% block content %}

<fieldset>
  <legend>
    <h1 class="page-title primary-color my-4">{% trans 'Sign up' %}</h1>
  </legend>
</fieldset>

{% include "assets/render-messages/render-messages.django" %}

<form method="post">
  {% csrf_token %} {{ form|crispy }}

  <div class="common-actions">
    <input class="btn btn-primary" type="submit" value="{% trans 'Sign up' %}" />
    <a class="btn btn-link" href="{% url 'login' %}">{% trans 'Log in' %}</a>
  </div>

  <input type="hidden" name="next" value="{{ next }}" />
</form>

{% endblock content %}
