{# ex: set ft=htmldjango : #}
<!--
  @module logged_out
  @changed 2025.01.04, 23:19
-->

{% extends "base-regular.html.django" %}

{% load i18n %}

{% block title %}Logged out — {{ block.super }}{% endblock title %}

{% block content %}

<fieldset>
  <legend>
    <h1 class="page-title primary-color my-4">{% trans "Logged out" %}</h1>
  </legend>
</fieldset>

{% include "assets/render-messages/render-messages.django" %}

<p>{% trans "Thanks for spending some quality time with the web site today." %}</p>

<p><a href="{% url 'login' %}">{% trans "Log in again" %}</a></p>

{% endblock %}
