{# ex: set ft=htmldjango : #}

{% extends "base-regular.html.django" %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}{% trans 'Login' %} — {{ block.super }}{% endblock title %}

{% block content %}
{{ block.super }}

  <fieldset>
    <legend>
      <h1 class="page-title primary-color my-4">{% trans 'Login' %}</h1>
    </legend>
    {% if error_message %}
    <p>{{ error_message }}</p>
    {% endif %}
  </fieldset>

  {% if form.errors %}
  <p>{% trans 'We can’t find a user with such authorization data. Please try again.' %}</p>
  {% endif %} {% include "assets/render-messages/render-messages.django" %}

  <form role="form" method="post" action="{% url 'login' %}">
    {% csrf_token %} {{ form|crispy }}

    <div class="common-actions">
      <input class="btn btn-primary" type="submit" value="{% trans 'Login' %}" />
      <a class="btn btn-link btn-outline-primary" href="{% url 'django_registration_register' %}"
        >{% trans 'Sign up' %}</a
      >
      <a class="btn btn-link btn-outline-primary" href="{% url 'password_reset' %}">{% trans 'Reset password' %}</a>
      {% include "assets/back-button/back-button.django" %}
    </div>

    <input type="hidden" name="next" value="{{ next }}" />
  </form>

{% endblock content %}
