{# ex: set ft=htmldjango : #}
<!--
  @module password_reset_done
  @changed 2025.01.04, 23:19
-->

{% extends "base-regular.html.django" %}

{% load i18n %}

{% block title %}{% trans 'Password reset' %} — {{ block.super }}{% endblock title %}

{% block content %}

<fieldset>
  <legend>
    <h1 class="page-title primary-color my-4">{% trans "Password reset" %}</h1>
  </legend>
</fieldset>

{% include "assets/render-messages/render-messages.django" %}

<p>{% trans "We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly." %}</p>

<p>{% trans "If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder." %}</p>

{% url 'login' as login_url %}
{% url 'profile' as profile_url %}
{% url 'profile_edit' as profile_edit_url %}
<p>
  {% if not user.is_authenticated %}
    {% blocktranslate %}Then <a href="{{ login_url }}">log in</a> and <a href="{{ profile_edit_url }}">edit your profile</a> to change or add more personal data.{% endblocktranslate %}
  {% else %}
    {% blocktranslate %}Go to your <a href="{{ profile_url }}">profile</a>.{% endblocktranslate %}
  {% endif %}
  {# TODO: Put common actions toolbar here #}
</p>

{% endblock %}
