{# ex: set ft=htmldjango : #}
<!--
  @module signup.html.django
  @changed 2025.01.04, 23:19
-->

{% extends "base-regular.html.django" %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}{% trans 'Password change' %} — {{ block.super }}{% endblock title %}

{% block page_content %}

<fieldset>
  <legend>
    <h1 class="page-title primary-color my-4">{% trans 'Password change' %}</h1>
  </legend>
</fieldset>

{% include "assets/render-messages/render-messages.django" %}

<form method="post">
  {% csrf_token %} {{ form|crispy }}

  <div class="common-actions">
    <input class="btn btn-primary" type="submit" value="{% trans 'Change password' %}" />
    {% include "assets/back-button/back-button.django" %}
    <a class="btn btn-link btn-outline-primary" href="{% url 'profile_edit' %}">{% trans 'Edit profile' %}</a>
  </div>

  <input type="hidden" name="next" value="{{ next }}" />
</form>
{% endblock page_content %}
