{# ex: set ft=htmldjango : #}
<!--
  @module signup.html.django
  @changed 2025.01.08, 21:31
-->

{% extends "base-regular.html.django" %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}{% trans "Password has been already changed" %} — {{ block.super }}{% endblock %}

{% block page_content %}

  <fieldset>
    <legend>
      <h1 class="page-title primary-color my-4">{% trans "Password has been already changed" %}</h1>
    </legend>
  </fieldset>

  {% include "assets/render-messages/render-messages.django" %}

  {% url 'index' as index_url %}
  {% url 'profile' as profile_url %}

  <p>{% blocktranslate %}Your password was changed. Go to <a href="{{ index_url }}">main page</a> or to your <a href="{{ profile_url }}">profile</a>.{% endblocktranslate %}</p>

{% endblock page_content %}
