@use 'sass:color';
@use 'sass:math';

@import 'variables';

:root {
  --defaultFontSize: #{$defaultFontSize};
  --fontSizeSmall: #{$fontSizeSmall};

  --defaultFontFamily: #{$defaultFontFamily};

  // Breakpoints:...

  --screenXsMin: #{$screenXsMin};
  --screenSmMin: #{$screenSmMin};
  --screenMdMin: #{$screenMdMin};
  --screenLgMin: #{$screenLgMin};
  --screenXlMin: #{$screenXlMin};
  --screenXxlMin: #{$screenXxlMin};

  --screenXsMax: #{$screenXsMax};
  --screenSmMax: #{$screenSmMax};
  --screenMdMax: #{$screenMdMax};
  --screenLgMax: #{$screenLgMax};
  --screenXlMax: #{$screenXlMax};

  // Collapsable widths...

  --navbarCollapse: #{$navbarCollapse};
  --navbarCollapseMax: #{$navbarCollapseMax};

  // --collapseWidth: #{$collapseWidth};
  // --midbarCollapse: #{$midbarCollapse};

  // Primary color...

  --primaryColor: #{$primaryColor};
  --primaryLightColor: #{$primaryLightColor};
  --primaryLightenColor: #{$primaryLightenColor};
  --primaryLightesetColor: #{$primaryLightesetColor};
  --primaryDarkColor: #{$primaryDarkColor};
  --primaryDarkenColor: #{$primaryDarkenColor};
  --primaryDarkestColor: #{$primaryDarkestColor};

  --primaryColorRgb: #{$primaryColorRgb};

  // Misc colors...

  // // UNUSED?
  // --xdarkBlueColor: #{$xdarkBlueColor};
  // --darkBlueColor: #{$darkBlueColor};
  // --mediumBlueColor: #{$mediumBlueColor};
  // --moodBlueColor: #{$moodBlueColor};
  // --extralightBlueColor: #{$extralightBlueColor};
  //
  // --darkGreenColor: #{$darkGreenColor};
  // --mediumGreenColor: #{$mediumGreenColor};

  --defaultTextColor: #{$defaultTextColor};
  --defaultTextColorDark: #{$defaultTextColorDark};
  --defaultTextColorLight: #{$defaultTextColorLight};

  --backgroundColor: #{$backgroundColor};
  --borderColor: #{$borderColor};
  --blackColor: #{$blackColor};
  --whiteColor: #{$whiteColor};
  --lightColor: #{$lightColor};

  // Signaling colors

  --commonInfoColor: #{$commonInfoColor};
  --commonErrorColor: #{$commonErrorColor};
  --commonWarnColor: #{$commonWarnColor};
  --commonSuccessColor: #{$commonSuccessColor};

  --commonInfoColorRgb: #{$commonInfoColorRgb};
  --commonErrorColorRgb: #{$commonErrorColorRgb};
  --commonWarnColorRgb: #{$commonWarnColorRgb};
  --commonSuccessColorRgb: #{$commonSuccessColorRgb};

  // Set bootstrap colors
  --bs-info-rgb: #{$commonInfoColorRgb};
  --bs-danger-rgb: #{$commonErrorColorRgb};
  --bs-warning-rgb: #{$commonWarnColorRgb};
  --bs-success-rgb: #{$commonSuccessColorRgb};

  // Navbar...

  --navbarMainHeight: #{$navbarMainHeight};
  --navbarPlusHeight: #{$navbarPlusHeight};

  // Timeouts...

  --momentTimeMs: #{$momentTimeMs};
  --transitionTimeMs: #{$transitionTimeMs};
  --animationTimeMs: #{$animationTimeMs};
  --effectTimeMs: #{$effectTimeMs};
}
