@use 'sass:color';

@import '../shared';
@import '../template-core/shared';

$menuItemsFontSize: $fontSizeSmall;

.template-header {
  .navbar-brand {
    overflow: hidden;
    &,
    & img {
      transition: all var(--transitionTimeMs);
    }
    &:hover {
      img {
        opacity: 0.85;
      }
    }
    @media screen and (width >= $screenLgMin) {
      flex: 1;
    }
    .text {
      color: $defaultTextColor;
      font-size: 4vw;
      text-overflow: ellipsis;
      overflow: hidden;
      max-width: 100%;
      margin-right: 20px;
      @media screen and (width >= 5em) {
        font-size: 4.5vw;
      }
      @media screen and (width >= 25em) {
        font-size: 5vw;
      }
      @media screen and (width >= $screenSmMin) {
        font-size: 1em;
      }
      @media screen and (width >= $screenMdMin) {
        font-size: 1em;
      }
    }
    &:hover .text {
      color: $primaryColor;
    }
  }

  .navbar-toggler {
    &:hover,
    &:not(.collapsed) {
      color: $primaryColor;
    }
    &:focus {
      box-shadow: none;
    }
  }

  &.navigation {
    border-bottom: 1px solid $border-color;
    transition: 0.2s ease;
    padding: 10px 0;
    background-color: color.change($white, $alpha: 0.75);
    @include desktop {
      background-color: $white;
    }
  }

  .right-menu {
    top: 12px;
    @media screen and (width > 220px) {
      top: 16px;
    }
    @media screen and (width > 280px) {
      top: 22px;
    }
    @media screen and (width > $screenSmMin) {
      top: 24px;
    }
    @media screen and (width <= $screenMdMin) {
      position: absolute;
      right: 0;
    }
  }

  .navbar-menu {
    flex-grow: 0;
    .nav-item {
      .nav-link {
        white-space: nowrap;
        font-size: $menuItemsFontSize;
      }
      .nav-link.show,
      &:hover .nav-link {
        color: $primaryColor;
      }
    }
  }
  .navbar {
    padding: 0;
    @media screen and (width >= $screenLgMin) {
      flex-wrap: nowrap;
    }

    .icon {
      font-size: 12px;
    }

    .dropdown {
      &:hover {
        .dropdown-menu {
          visibility: visible;
          opacity: 1;
          transform: scale(1);
        }
      }

      &-menu {
        padding: 20px 15px;
        @extend .shadow;
        border: 0;
        top: calc(100% - 10px);
        left: 15px;
        border-radius: 5px;
        background: $white;
        transition: 0.2s ease;
        display: block;
        visibility: hidden;
        opacity: 0;
        transform: scale(0.9);

        @include desktop {
          display: none;
          opacity: 1;
          visibility: visible;
          transform: scale(1);
          text-align: inherit;
        }

        &.show {
          visibility: hidden;

          @include desktop {
            visibility: visible;
            display: block;
          }
        }
      }

      &-item {
        position: relative;
        color: $text-color-dark;
        transition: 0.2s ease;
        font-size: $menuItemsFontSize;
        padding: 8px 10px;
        border-radius: inherit;

        &:hover {
          color: $primary-color !important;
          background-color: $light;
        }
      }
    }
  }
}
