{% load i18n %}
<form id="menu-language-form" action="{% url 'set_language' %}" method="post" style="display: inline;">
  {% csrf_token %}
  <input id="menu-language-form-value" name="language" type="hidden" value="{{ LANGUAGE_CODE }}" />
  <div style="display: inline;">
    {% get_available_languages as LANGUAGES %}
    {% for lang in LANGUAGES %}
      | <a href="{% url 'set_language' %}"
        onClick="document.getElementById('menu-language-form-value').value = '{{ lang.0 }}'; document.getElementById('menu-language-form').submit(); return false"
      >
      {{ lang.0 }}
      </a>
    {% endfor %}
  </div>
</form>
