{% extends 'base-full-column.html.django' %}

{% load i18n allauth %}

{% block body_class %}entrance {{ block.super }}{% endblock %}

{% block title %}{% trans 'Login' %} — {{ block.super }}{% endblock %}

{% block beforeContent %}{% endblock %}

{% block main_column_content %}
  <div class="flex-grow-1 _bg-body-secondary d-flex flex-column justify-content-center">
    <div class="flex-grow-0 flex-shrink-0 container">
      <div class="row justify-content-md-center">
        <div class="col col-lg-6">
          {% if messages %}
            {% for message in messages %}
              {% element alert level=message.tags %}
                {% slot message %}
                  {{ message }}
                {% endslot %}
              {% endelement %}
            {% endfor %}
          {% endif %}
          <div class="{% if not is_mobile_auth %}bg-white shadow rounded-4{% endif %}">
            <div id="content" class="{% if not is_mobile_auth %}p-5{% endif %}">
              {% block content %}{% endblock %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock main_column_content %}
