@use 'sass:color';

@import '../shared';

.primary-icon {
  color: $primaryColor;
}
.dimmed-primary-icon {
  @extend .primary-icon;
  color: $primaryColor;
}

.font-small {
  font-size: 75%;
}

.text-content {
  @include activeTextLinkWrapper;
}
.basic-active-link {
  @include basicActiveLink;
}
.active-link {
  @include activeLink;
}

.active-text-link {
  @include activeTextLink;
}
.active-text-link-wrapper {
  @include activeTextLinkWrapper;
}

a.disabled {
  opacity: 0.5;
}

.item-label,
.dimmed-icon,
.dimmed-info {
  opacity: 0.5;
}
.dimmed-primary-icon {
  @extend .primary-icon;
  @extend .dimmed-icon;
}

.primary-color {
  color: $primaryColor;
}
.optional-message:empty {
  display: none;
}

.common-actions {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
  a:not(.btn) {
    margin-left: 8px;
    margin-right: 8px;
  }
  .btn {
    white-space: nowrap;
  }
}

// Footer & header logo rounded circle
.rounded-circle-wrapper {
  border-radius: 50%;
  $smallPadding: 4px;
  $largePadding: 8px;
  padding: $smallPadding $smallPadding $largePadding $largePadding;
  background-color: color.change(#777, $alpha: 0.15);
}

.content-with-links {
  @include activeTextLinkWrapper;
}

// Headings

.widget-title,
.section-title {
  font-weight: bold;
  font-size: 100%;
}

// Columns...
.thumb-preview {
  width: 100%;
}

// Content

.top-page-spacer {
  // A spacer to put instead of page banner (`template-banner.django`)
  margin-top: 100px;
}
