@use 'sass:color';

@import '../shared';

.primary-icon {
  color: $primaryColor;
}
.dimmed-primary-icon {
  @extend .primary-icon;
  color: $primaryColor;
}

.font-small {
  font-size: 75%;
}

.basic-active-link {
  @include basicActiveLink;
}
.active-link {
  @include activeLink;
}

.item-label,
.dimmed-icon,
.dimmed-info {
  opacity: 0.5;
}
.dimmed-primary-icon {
  @extend .primary-icon;
  @extend .dimmed-icon;
}

.primary-color {
  color: $primaryColor;
}
.optional-message:empty {
  display: none;
}

.common-actions {
  a:not(.btn) {
    margin-left: 8px;
    margin-right: 8px;
  }
}

// Footer & header logo rounded circle
.rounded-circle-wrapper {
  border-radius: 50%;
  $smallPadding: 4px;
  $largePadding: 8px;
  padding: $smallPadding $smallPadding $largePadding $largePadding;
  background-color: color.change(#777, $alpha: 0.15);
}

.content {
  @include activeUnderlinedLink;
}
