/*
 * @changed 2025.04.03, 03:50
 */

html {
    --primaryColor: #b26;
    --ck-color-button-on-background: var(--primaryColor);
    --ck-color-button-on-color: #fff;
    --ck-color-button-on-hover-background: #901a4e;
    --maxFieldWidth: 42rem;
}
html.dark {
    --ck-color-text: #999;
}

.readonly {
    opacity: 0.25;
}

.ck-editor-container,
textarea.vLargeTextField {
    width: 100%;
    max-width: var(--maxFieldWidth) !important;
}
textarea.vLargeTextField {
    height: 8em;
}
.ck-editor-container {
    overflow: hidden;
}

.ck-editor .ck.ck-image-insert-form>.ck.ck-button {
    display: flex;
}

.ck-editor.fullscreen-mode .ck-sticky-panel__content {
    top: 0;
    z-index: 100;
    width: 100% !important;
    top: 0 !important;
}
.ck-editor.fullscreen-mode .ck-toolbar {
    width: 100%;
}

.ck-content blockquote,
.ck-content dd,
.ck-content dl,
.ck-content figure,
.ck-content h1,
.ck-content h2,
.ck-content h3,
.ck-content h4,
.ck-content h5,
.ck-content h6,
.ck-content hr,
.ck-content p,
.ck-content pre {
    margin: revert;
    font-size: revert;
    font-weight: revert;
    font-style: revert;
}
.ck-content h1 { font-size: 200%; font-weight: normal; }
.ck-content h2 { font-size: 180%; font-weight: normal; }
.ck-content h3 { font-size: 160%; font-weight: normal; }
.ck-content h4 { font-size: 140%; font-weight: normal; }
.ck-content h5 { font-size: 120%; }
.ck-content h6 { font-size: 100%; }
.ck-content h1,
.ck-content h2,
.ck-content h3,
.ck-content h4,
.ck-content h5,
.ck-content h6 {
    margin: 1.5em 0;
}
.ck-content a {
    color: var(--primaryColor);
}

.ck-source-editing-area button,
.ck-source-editing-area input,
.ck-source-editing-area optgroup,
.ck-source-editing-area select,
.ck-source-editing-area textarea {
    color: revert;
}

.ck-editor .ck.ck-toolbar__separator {
    background-color: rgba(128 128 128 / 0.15) !important;
}

.ck-editor .ck.ck-editor__main>.ck-editor__editable {
    background-color: initial;
    border-radius: var(--border-radius, 6px);
    border: 1px solid var(--ck-color-base-border);
    /* overflow: hidden; */
    /* max-width: 100%; */
    position: relative;
}
.ck-editor .ck.ck-editor__top .ck-sticky-panel .ck-sticky-panel__content,
.ck-editor .ck.ck-editor__main>.ck-editor__editable {
    border-color: rgb(var(--color-base-500) / 0.2) !important;
}
html.dark .ck-editor .ck.ck-editor__top .ck-sticky-panel .ck-sticky-panel__content,
html.dark .ck-editor .ck.ck-editor__main>.ck-editor__editable {
    border-color: rgb(var(--color-base-700) / 0.5) !important;
}
.ck-editor .ck.ck-editor__main>.ck-editor__editable {
    border-bottom-left-radius: var(--border-radius, 6px) !important;
    border-bottom-right-radius: var(--border-radius, 6px) !important;
}
.ck-editor .ck.ck-editor__top .ck-sticky-panel .ck-sticky-panel__content {
    border-top-left-radius: var(--border-radius, 6px) !important;
    border-top-right-radius: var(--border-radius, 6px) !important;
}
.ck-editor .ck.ck-toolbar {
    background-color: initial;
    background-color: rgba(128 128 128 / 0.05);
}
