@use 'sass:color';

@import '../../shared';

.small-tracks-list {
  padding-left: 0;
  &-item {
    @include basicActiveLink;
    a .content {
      color: $defaultTextColor;
    }
    a:hover .content {
      .title {
        color: $primaryColor;
        text-decoration: underline;
      }
    }
  }
}
