@use 'sass:color';

@import '../../shared';

.small-tracks-list {
  padding-left: 0;
}
.small-tracks-list-item {
  margin-bottom: 20px;
  .list-inline-item {
    margin-bottom: 3px !important;
  }
  a {
    &,
    & img {
      transition: all var(--transitionTimeMs);
    }
  }
  a .content {
    color: $defaultTextColor;
  }
  a:hover {
    .content {
      .title {
        color: $primaryColor;
        text-decoration: underline;
      }
    }
    img {
      opacity: 0.75;
    }
  }
}
