/**
 * @module styles.scss
 * @changed 2025.04.09, 21:12
 */

@import 'shared/variables-expose';

@import 'common/common';
@import 'common/forms';
@import 'common/customize';
@import 'common/content-columns';
@import 'common/fonts';
@import 'template-core';

@import 'body/body';
@import 'cookies-banner/cookies-banner';
@import 'forms/data-form';

@import 'theme/bootstrap-theme-fixes';

@import 'page-menus/side-menu';

@import 'common-blocks/rubrics-list/rubrics-list';
@import 'common-blocks/authors-list/authors-list';
@import 'common-blocks/small-tracks-list/small-tracks-list';
@import 'common-blocks/small-tracks-card-list/small-tracks-card-list';
@import 'common-blocks/medium-tracks-list/medium-tracks-list';
@import 'common-blocks/big-authors-list/big-authors-list';
@import 'common-blocks/author-card/author-card';

@import 'common-blocks/big-tracks-list/big-tracks-list';
@import 'common-blocks/big-rubrics-list/big-rubrics-list';
@import 'common-blocks/big-tags-list/big-tags-list';

@import 'common-blocks/track-series/series-full-list';
@import 'common-blocks/track-series/series-tracks-list';

@import 'CommonNotify/CommonNotify';

@import 'track-blocks/track-player';
@import 'track-blocks/track-details';
@import 'track-blocks/shared-player';
@import 'entities/FloatingPlayer/floating-player';

@import 'template-header/template-header';
@import 'template-footer/template-footer';

@import 'auth-provider/auth-provider';

@import 'template-banner/template-banner';
@import 'template-right-blocks/right-mobile-promo/right-mobile-promo';
@import 'template-right-blocks/right-about/right-about';

@import 'carousel/carousels-styles';

// @import 'membership-splash/membership-splash'; // TODO: To remove!
