/**
 * @module body
 * @changed 2024.03.08, 13:30
 */

@import '../shared';

body {
  font-family: $defaultFontFamily;
  background-color: $backgroundColor;
  // Add space for fixed navar (see `static/assets/page-header-navbar/page-header-navbar.django`)
  &:not(.index):not(.main) {
    margin-top: $navbarMainHeight + 20px;
  }
}
