/**
 * @module body
 * @changed 2025.01.09, 02:53
 */

@import '../shared';

html {
  display: flex;
  min-height: 100%;
}

body {
  flex: 1;
  &:not(.mobile-auth) {
    display: flex;
    min-height: 100%;
    flex-direction: column;
    justify-content: space-between;
    .content,
    .container {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }

  font-family: $defaultFontFamily;
  background-color: $backgroundColor;
  // Add space for fixed navar (see `static/assets/page-header-navbar/page-header-navbar.django`)
  &:not(.with-header):not(.mobile-auth) {
    margin-top: $navbarMainHeight;
  }
}

.for-mobile-auth-only {
  body:not(.mobile-auth) & {
    display: none !important;
  }
}
